In [2]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [3]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for i in adjective:
    for j in fruits:
        print(i ," ", j)

red   apple
red   banana
red   cherry
big   apple
big   banana
big   cherry
tasty   apple
tasty   banana
tasty   cherry

In [4]:
r = int(input("enter the rows to print : "))
for i in range(r):
    for j in range(5):
        print("*",end= "")
    print()

enter the rows to print :  5

*****
*****
*****
*****
*****

In [14]:
r = int(input("enter the rows to print : "))
for i in range(r):
    for j in range(0,i+1):
        # print("*",end= "")
        print(i,end= "")
    print()

enter the rows to print :  6

0
11
222
3333
44444
555555

In [11]:
r = int(input("enter the rows to print : "))
for i in range(r):
    for j in range(r-i-1):
        print(" ",end= "")
    for j in range(0,i+1):
        print(i,end= "")
    print()

enter the rows to print :  5

    0
   11
  222
 3333
44444

In [52]:
r = int(input("enter the rows to print : "))
for i in range(0,r):
    for j in range(0,r):
       if((i+j)<r-1):
           print(" ",end=" ")
       else:
           print("*",end= ' ')
    print()

enter the rows to print :  4

      *
    * *
  * * *
* * * *

In [56]:
s="ganesh"
n= ""

for i in s:
    n +=i
    print(n)
l=len(s)-1
while l>0:
   print(s[0:l])
   l-=1

g
ga
gan
gane
ganes
ganesh
ganes
gane
gan
ga
g

In [57]:
r=4
c=4
for i in range(r):
    for j in range(c):
        if i==0 or i==r-1 or j==0 or j== c-1  :
            print('*',end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*     *
*     *
* * * *

In [58]:
r = int(input("enter the rows to print : "))
for i in range(0,r):
    for j in range(0,r):
       if((i+j)>r-1):
           print(" ",end=" ")
       else:
           print("*",end= ' ')
    print()

enter the rows to print :  5

* * * * *
* * * *
* * *
* *
*

In [60]:
r = int(input("enter the rows to print : "))
c=1
for i in range(0,r):
    for j in range(0,i+1):
        print(c,end=" ")
        c+=1
        
        
    print()

enter the rows to print :  7

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [63]:
r = int(input("enter the rows to print : "))
for i in range(0,r):
    for j in range(0,r):
       if((i+j)<r-1):
           print(" ",end="")
       else:
           print(" *",end= '')
    print()

enter the rows to print :  7

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [84]:
r = int(input("enter the rows to print : "))
for i in range(0,r):
    for j in range(0,r):
        if (i+j)%2 == 0:
            print("*",end= "")
        else:
            print("@",end="")
    print()

enter the rows to print :  5

*@*@*
@*@*@
*@*@*
@*@*@
*@*@*

In [83]:
r = int(input("enter the rows to print : "))
for i in range(0,r+1):
    for j in range(0,r+1):
       if((i+j)<=r):
           print(end=" ")
       else:
           print("*",end=" ")
    print()

for i in range(r,0,-1):
    for j in range(0,r+1):
       if((i+j)<r+1):
           print(end=" ")
       else:
           print("*",end=" ")
    print()

enter the rows to print :  5

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *